@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg {
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/opacity/see-through */
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.customer {
    height: 190px;
    width: 190px;
    border-radius: 100px;
}

.cg {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.health-status {
    font-size: 15px;
    color: #11e1f0;
}

.diet-color {
    color: #fa3434;
    font-size: 28px;
}

.card1 {
    font-size: 18px;
    font-family: "Roboto";
}

.doctor-session {
    border: 2px solid red;
    border-radius: 8px;
    padding: 12px;
}

.doctor-speak {
    font-size: 20px;
}

.doctor-details {
    font-size: 20px;
}

.app-logo {
    height: 130px;
    width: 130px;
    border-radius: 10px;
}

.health-card {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 13px;
}

.customer-name {
    font-size: 15px;
}

.customer-age {
    font-size: 15px;
}

.customer-gender {
    font-size: 15px;
}

.change-color {
    color: #e1f011;
}
